:root {
    --clr-bg: #333;
    --clr-txt: rgb(255, 226, 206);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.dark-theme {
    background-color: var(--clr-bg);
    color: var(--clr-txt);
}
body, html {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: var(--clr-bg);
    color: var(--clr-txt);
}

header {
    font-size: xx-large;
    width: 100%;
    padding: .25em 2rem;
    border-bottom: var(--clr-txt) 1px solid;
}

#app-wrapper {
    width: 100%;
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
}

#ui {
    width: 350px;
    padding: .25em 2rem;
    border-right: var(--clr-txt) 1px solid;
}

.label {
    font-size: 1.5em;
    margin-bottom: .25em;
}

#dd-ligne {
    width: 90%;
}

#map-wrapper {
    flex-grow: 1;
    padding: .25em 2rem;
    display: flex;
}

#map {
    height: 90%;
    width: 90%;
    margin: auto;
}
footer {
    width: 100%;
    padding: 2em 2rem;
    border-top: var(--clr-txt) 1px solid;
}